# Archivos de entorno virtual
venv/
.venv/
env/

# Archivos de configuración de IDE
.idea/
.vscode/

# Códigos apoyo (consulta modelos)
check_models.py

# Archivos compilados de Python
__pycache__/
*.pyc

# Datos del TFG
data/
chroma_db/
temp_*/


# CLAVES SECRETAS
.env
__pycache__/
*.env
